
.bg-lightsteelblue {
    background-color: lightsteelblue;
}


.custom-card {
    /* Mantienes tu borde estilo "groove" y tu color morado claro */
    border: 10px groove #bca2dd !important; 
    background-color: white;
}


.custom-title {
    color: #3d225d;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.custom-label {
    color: indigo;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
}


.custom-btn {
    background-color: #492970 !important;
    color: white !important;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4); 
    border: none;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #351d52 !important; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


.custom-link {
    color: #fabd05;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
}


.custom-link:hover {
    color: #d19c04; 
}

.class_input_error {
    border: 2px solid #dc3545 !important;
    background-color: #fff8f8 !important;
}


.class_men_error {
    color: #dc3545;
    font-size: 12px;
    display: block;
    height: 15px; 
    margin-top: 2px;
    margin-bottom: 8px;
    font-family: 'Trebuchet MS', sans-serif;
}